constraints: BoundedChan ==1.0.3.0,
             Cabal ==2.0.1.1,
             QuickCheck ==2.10.1,
             StateVar ==1.1.0.4,
             adjunctions ==4.3,
             aeson ==1.2.3.0,
             amazonka ==1.5.0,
             amazonka-core ==1.5.0,
             amazonka-dynamodb ==1.5.0,
             amazonka-dynamodb-streams ==1.5.0,
             amazonka-kinesis ==1.5.0,
             amazonka-s3 ==1.5.0,
             amazonka-sns ==1.5.0,
             amazonka-sqs ==1.5.0,
             ansi-terminal ==0.7.1.1,
             ansi-wl-pprint ==0.6.8.1,
             array ==0.5.2.0,
             asn1-encoding ==0.9.5,
             asn1-parse ==0.9.4,
             asn1-types ==0.3.2,
             async ==2.1.1.1,
             async-pool ==0.9.0.2,
             attoparsec ==0.13.2.0,
             auto-update ==0.1.4,
             base ==4.10.1.0,
             base-compat ==0.9.3,
             base-orphans ==0.6,
             base16-bytestring ==0.1.1.6,
             base64-bytestring ==1.0.0.1,
             basement ==0.0.4,
             bifunctors ==5.5,
             binary ==0.8.5.1,
             blaze-builder ==0.4.0.2,
             blaze-html ==0.9.0.1,
             blaze-markup ==0.8.0.0,
             brick ==0.29.1,
             byteable ==0.1.1,
             bytestring ==0.10.8.2,
             cabal-doctest ==1.0.4,
             call-stack ==0.1.0,
             case-insensitive ==1.2.0.10,
             cereal ==0.5.4.0,
             chunked-data ==0.3.0,
             colour ==2.3.4,
             comonad ==5.0.2,
             conduit ==1.2.12.1,
             conduit-combinators ==1.1.2,
             conduit-extra ==1.2.3.2,
             config-ini ==0.2.1.1,
             connection ==0.2.8,
             containers ==0.5.10.2,
             contravariant ==1.4,
             cookie ==0.4.3,
             cryptonite ==0.24,
             data-clist ==0.1.2.0,
             data-default-class ==0.1.2.0,
             deepseq ==1.4.3.0,
             directory ==1.3.0.2,
             distributive ==0.5.3,
             dlist ==0.8.0.3,
             easy-file ==0.2.1,
             exceptions ==0.8.3,
             fail ==4.9.0.0,
             fast-logger ==2.4.10,
             fgl ==5.5.4.0,
             filepath ==1.4.1.2,
             foundation ==0.0.17,
             free ==4.12.4,
             ghc-boot-th ==8.2.2,
             ghc-prim ==0.5.1.1,
             gitrev ==1.3.1,
             hashable ==1.2.6.1,
             hourglass ==0.2.10,
             http-client ==0.5.7.1,
             http-client-tls ==0.3.5.1,
             http-conduit ==2.2.4,
             http-types ==0.9.1,
             hw-conduit ==0.2.0.3,
             ini ==0.3.5,
             integer-gmp ==1.0.1.0,
             integer-logarithms ==1.0.2,
             kan-extensions ==5.0.2,
             kuneiform ==0.1.0.0,
             lens ==4.15.4,
             lifted-base ==0.2.3.11,
             math-functions ==0.2.1.0,
             megaparsec ==6.3.0,
             memory ==0.14.11,
             microlens ==0.4.8.1,
             microlens-mtl ==0.1.11.0,
             microlens-th ==0.4.1.1,
             mime-types ==0.1.0.7,
             mmorph ==1.1.0,
             monad-control ==1.0.2.2,
             monad-logger ==0.3.26,
             monad-loops ==0.4.3,
             mono-traversable ==1.0.7.0,
             mtl ==2.2.1,
             mwc-random ==0.13.6.0,
             network ==2.6.3.2,
             network-uri ==2.6.1.0,
             old-locale ==1.0.0.7,
             old-time ==1.1.0.3,
             optparse-applicative ==0.14.0.0,
             parallel ==3.2.1.1,
             parsec ==3.1.11,
             parser-combinators ==0.4.0,
             pem ==0.2.2,
             prelude-extras ==0.4.0.3,
             pretty ==1.1.3.3,
             primitive ==0.6.2.0,
             process ==1.6.1.0,
             profunctors ==5.2.1,
             random ==1.1,
             reflection ==2.1.2,
             resourcet ==1.1.10,
             retry ==0.7.5.1,
             rts ==1.0,
             safe ==0.3.15,
             scientific ==0.3.5.2,
             semigroupoids ==5.2.1,
             semigroups ==0.18.3,
             singletons ==2.3.1,
             socks ==0.5.6,
             split ==0.2.3.2,
             stm ==2.4.4.1,
             stm-chans ==3.0.0.4,
             streaming-commons ==0.1.18,
             syb ==0.7,
             tagged ==0.8.5,
             template-haskell ==2.12.0.0,
             terminfo ==0.4.1.0,
             text ==1.2.2.2,
             text-zipper ==0.10.1,
             tf-random ==0.5,
             th-abstraction ==0.2.6.0,
             th-desugar ==1.7,
             th-expand-syns ==0.4.4.0,
             th-lift ==0.7.7,
             th-lift-instances ==0.1.11,
             th-orphans ==0.13.4,
             th-reify-many ==0.1.8,
             time ==1.8.0.2,
             time-locale-compat ==0.1.1.3,
             tls ==1.4.0,
             transformers ==0.5.2.0,
             transformers-base ==0.4.4,
             transformers-compat ==0.5.1.4,
             typed-process ==0.2.1.0,
             unix ==2.7.2.2,
             unix-compat ==0.5.0.1,
             unix-time ==0.3.7,
             unliftio-core ==0.1.1.0,
             unordered-containers ==0.2.8.0,
             utf8-string ==1.0.1.1,
             uuid-types ==1.0.3,
             vector ==0.12.0.1,
             vector-algorithms ==0.7.0.1,
             vector-th-unbox ==0.2.1.6,
             void ==0.7.2,
             vty ==5.19.1,
             word-wrap ==0.4.1,
             word8 ==0.1.3,
             x509 ==1.7.2,
             x509-store ==1.6.5,
             x509-system ==1.6.6,
             x509-validation ==1.6.9,
             xml-conduit ==1.7.0.1,
             xml-types ==0.3.6,
             zlib ==0.6.1.2             